{% block content %}
    <form action="">
        <label>
            <input type="text" value="Full name">
            <br><br>
            <input type="email" value="email">
            <br><br>
            <input type="radio" id="man"
             name="gender" value="text">
            <label for="man">Man</label>
            <br><br>
            <input type="radio" id="women"
             name="gender" value="text">
            <label for="women">Women</label>
            <br><br>
            <button>send</button>
        </label>
    </form>
{% endblock %}
